.container {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.img {
  margin: 0 auto;
  margin-bottom: 15px;
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .img {
    margin-bottom: 0;
    border-radius: 5%;
  }
  .thumb {
    margin-left: 15px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
}
