.nav {
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
  padding: 15px 0;
  margin-bottom: 25px;
  
}
.navItem {
  font-size: 24px;
  font-weight: 500;
  margin-right: 15px;
  color: rgb(224, 224, 224);
  text-decoration: none;
  transition: color 0.3s ease;
  
}
.navItem:last-child {
  margin-right: 0;
}

.navItem:hover,
.navItem:focus {
  color: rgb(187, 134, 252);
}

.active {
  color: rgb(187, 134, 252);
}

.text {
  color: rgb(187, 134, 252);
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

.btn {
  background-color: #bb86fc;
  color: #121212;
  font-weight: 500;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover, .btn:focus {
  background-color: #9b6ef3;
}