.item {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.item:last-child {
  margin-bottom: 0;
}

.text {
  font-size: 20px;
  font-weight: 500;
  min-height: 2.5em;

}

.accent {
  font-weight: 500;
  font-size: 20px;
  color: rgb(187, 134, 252);
}

.readMore {
  background: none;
  border: none;
  color: rgb(187, 134, 252);
  cursor: pointer;
  font-size: 16px;
  margin-top: 5px;
}

.readMore:hover {
  text-decoration: underline;
  color: rgb(155, 110, 243);
}