.form {
  text-align: center;
}

.input {
  background-color: #1e1e1e;
  border: 1px solid #333;
  color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  margin-right: 10px;
}
.input:focus {
  border-color: #bb86fc;
  outline: none;
}

.btn {
  background-color: #bb86fc;
  color: #121212;
  font-weight: 500;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover, .btn:focus {
  background-color: #9b6ef3;
}


