.list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.img {
  width: 100%;
  border-radius: 5%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  height: auto;
}

.text {
  font-size: 20px;
  font-weight: 500;
  min-height: 2.5em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accent {
  composes: text;
  color: rgb(187, 134, 252);
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .item {
    flex-basis: calc((100% - 30px) / 3);
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .item {
    flex-basis: calc((100% - 45px) / 4);
  }
}
